<!DOCTYPE html>
<html>

<style>
body {background-image: url("img/An.jpg");
          background-position: right;
          margin-right: 200px;
          margin-left: 200px;
background-color:green;
}
h1	 {text-align:center;}
h2   {text-shadow: 2px 2px 5px green;
	  color:blue;
	  text-align:center;
	  font-size:250%;
	  }
h3   {color:blue;
	  font-style: italic;
	  text-align:center;
	  font-size:200%;}
h4   {color:orange;
	  text-align:center;
	  font-size:200%;}
p    {text-decoration: underline;
	  color:orange;
	  text-align:left;
	  font-size:60%;}
form	{text-align:left;
		font-size:60%;}
</style>

<body>
<h1><img src="img/eagle.jpg" alt="Eagle" style="width:258px;height:180px;"><h1>
<h2> Eagle Financial Services <h2>
<h3> Your Midwest Financial Services Partner <h3>
<h4> Financial Advisor Portfolio Planner <h4>
<br><br>

<p>
<?php
echo "Portfolio Planner Options";
?>

<form>
<select name="URL" onchange="window.location.href=this.form.URL.options[this.form.URL.selectedIndex].value">
<option value="">
Select an Option
</option>
<option value="customers">
Select a Customer and Review Profile
</option>
<option value="stocks">
Update Stock Portfolio
</option>
<option value="investments">
Update Non-Stock Investments
</option>
<option value="assets">
Update Assets</option>
<form>

</select>


</body>
</html>